{{ define "main" }}
  <div class="grid gap-8">
    <div class="prose">
      <h1>{{ .Title }}</h1>
      {{ .Content }}
    </div>
    <div class="grid gap-4">
      {{ range site.Sections.ByTitle }}
        <div class="rounded-lg bg-ctp-surface0">
          <div
            class="flex items-center gap-1 border-b border-b-ctp-surface1 p-4">
            {{ partial "svg/directory" (dict "size" 6) }}
            <h2>
              <a
                class="text-xl font-semibold text-ctp-peach"
                href="{{ .RelPermalink }}"
                >{{ .LinkTitle }}</a
              >
            </h2>
          </div>
          <ul class="space-y-4 p-4">
            {{ range .Sections.ByTitle }}
              <li>
                <a
                  class="inline-flex items-center gap-1"
                  href="{{ .RelPermalink }}">
                  {{ partial "svg/directory" }}
                  <span class="text-lg text-ctp-peach">{{ .LinkTitle }}</span>
                </a>
              </li>
            {{ end }}
            {{ range .RegularPages.ByTitle }}
              <li>
                <a
                  class="inline-flex items-center gap-1"
                  href="{{ .RelPermalink }}">
                  {{ partial "svg/file" }}
                  <span class="text-lg text-ctp-blue">{{ .LinkTitle }}</span>
                </a>
              </li>
            {{ end }}
          </ul>
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}
