<!doctype html>
<html
  lang="{{ or site.Language.LanguageCode site.Language.Lang }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body
    class="grid min-h-screen grid-rows-[auto_1fr_auto] overflow-x-hidden bg-ctp-base text-ctp-text">
    <header class="container mt-8 w-full">
      {{ partial "header.html" . }}
    </header>
    <main
      class="container w-full"
      {{ if eq .Kind "page" }}data-pagefind-body{{ end }}>
      {{ block "main" . }}{{ end }}
    </main>
    <footer class="container my-8 w-full">
      {{ partial "footer.html" . }}
    </footer>
  </body>
</html>
