{{ define "main" }}
  <div class="grid gap-8">
    {{/* TODO: banner */}}
    <div>{{ .Content }}</div>
    <div class="grid gap-4">
      {{ range where site.RegularPages "Params.post" "ne" "false" }}
        <div class="rounded bg-ctp-surface0 p-4 hover:bg-ctp-surface1">
          <div class="flex">
            <h2 class="text-xl font-bold text-ctp-blue">
              <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
            </h2>
            <time
              class="ml-auto text-ctp-overlay2"
              datetime="{{ .Date | time.Format "2006-01-02T15:04:05-07:00" }}"
              >{{ .Date | time.Format ":date_long" }}</time
            >
          </div>
          <div>{{ .Summary }}</div>
        </div>
      {{ end }}
    </div>
    <div class="mx-auto">
      <a class="rounded bg-ctp-surface0 p-2 hover:bg-ctp-surface1" href="/tree">
        Browse Index
      </a>
    </div>
  </div>
{{ end }}
