{{ define "main" }}
  <div class="grid gap-8">
    {{/* TODO: banner */}}
    <div class="grid gap-4 text-balance text-center">
      <h1 class="text-xl font-semibold">dotfrag's knowledge base</h1>
      {{ .Content }}
    </div>
    <div class="grid gap-4">
      {{ range (.Paginate (where site.RegularPages "Params.post" "ne" "false")).Pages }}
        <div class="rounded bg-ctp-surface0 p-4 md:hover:bg-ctp-surface1">
          <div class="flex">
            <h2 class="text-xl font-bold text-ctp-blue">
              <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
            </h2>
            <time
              class="ml-auto shrink-0 text-ctp-overlay2"
              datetime="{{ .Date | time.Format "2006-01-02T15:04:05-07:00" }}"
              >{{ .Date | time.Format ":date_long" }}</time
            >
          </div>
          <div>{{ .Summary }}</div>
        </div>
      {{ end }}
    </div>
    {{ partial "pagination" . }}
  </div>
{{ end }}
