{{ define "main" }}
  {{ partial "breadcrumb.html" . }}
  <h1>{{ .Title }}</h1>
  {{ .Content }}
  <div class="mt-8 grid gap-4">
    <h2 class="font-bold">Pages</h2>
    {{ range .Pages.ByTitle }}
      {{ if eq .Page.Kind "section" }}
        <h2>
          <span class="font-mono">&gt; </span
          ><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        </h2>
        <ul class="ml-4">
          {{ range .Pages }}
            <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
          {{ end }}
        </ul>
        {{ .Summary }}
      {{ else }}
        <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
        {{ .Summary }}
      {{ end }}
    {{ end }}
  </div>
{{ end }}
