<div class="flex items-center justify-between">
  <div class="flex items-center justify-center gap-5">
    <a class="text-3xl font-bold" href="/">{{ site.Title }}</a>
    <button
      type="button"
      class="hidden w-48 items-center rounded-md bg-ctp-surface0 py-1.5 pl-2 pr-3 text-sm text-ctp-subtext0 ring-1 ring-ctp-lavender/15 hover:bg-ctp-surface1 hover:ring-ctp-lavender md:flex"
      data-modal-open>
      {{ partial "svg/search" (dict "size" 20) }}
      <span class="ml-1">Search</span>
      <span class="ml-auto flex-none pl-3 text-xs font-semibold">Ctrl K</span>
    </button>
    {{ partial "searchModal.html" . }}
  </div>
  <button
    class="ml-auto mr-4 block md:hidden"
    aria-label="Search"
    data-modal-open>
    {{ partial "svg/search" }}
  </button>
  {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
</div>
<div class="mb-8 mt-4 rounded border-t border-ctp-surface1"></div>
