<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="description" content="dotfrag's knowledge base" />
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
<meta name="title" content="{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}" />
<!-- TODO: use partialCached where appropriate -->
{{ partial "head/favicon.html" }}
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
{{ partial "head/seo.html" . }}
