{{- /*
  Renders a menu for the given menu ID.

  @context {page} page The current page.
  @context {string} menuID The menu ID.

  @example: {{ partial "menu.html" (dict "menuID" "main" "page" .)
}}
*/}}
{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
  <nav class="flex">
    <button
      type="button"
      aria-controls="nav-menu"
      aria-expanded="false"
      aria-label="Toggle navigation"
      class="z-50 md:hidden">
      <span class="sr-only">Toggle navigation</span>
      {{ partial "svg/bars" }}
    </button>
    <ul
      class="flex gap-2 max-md:fixed max-md:inset-[0_0_0_60vw] max-md:z-40 max-md:translate-x-full max-md:touch-none max-md:flex-col max-md:items-end max-md:gap-4 max-md:bg-ctp-mantle max-md:p-4 max-md:pt-20 max-md:uppercase max-md:shadow-xl max-md:backdrop-blur max-md:transition max-sm:inset-[0_0_0_50vw]"
      id="nav-menu">
      {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
      <!-- <li class="md:hidden"> -->
      <!--   <a -->
      <!--     href="https://github.com/dotfrag/dotkb" -->
      <!--     target="_blank" -->
      <!--     rel="noreferrer noopener"> -->
      <!--     {{ partial "svg/github" (dict "size" 20) }} -->
      <!--   </a> -->
      <!-- </li> -->
    </ul>
  </nav>
{{- end }}

{{- define "partials/inline/menu/walk.html" }}
  {{- $page := .page }}
  {{- range .menuEntries }}
    {{- $attrs := dict "href" .URL }}
    {{- $sharedClasses := "px-2 py-1.5 rounded" -}}
    {{- if $page.IsMenuCurrent .Menu . }}
      {{- $attrs = merge $attrs (dict "class" (printf "%s max-md:font-extrabold md:bg-ctp-surface0" $sharedClasses) "aria-current" "page") }}
    {{- else if $page.HasMenuCurrent .Menu . }}
      {{- $attrs = merge $attrs (dict "class" (printf "%s bg-red-500" $sharedClasses) "aria-current" "true") }}
    {{- else -}}
      {{- $attrs = merge $attrs (dict "class" (printf "%s hover:bg-ctp-surface1" $sharedClasses)) }}
    {{- end }}
    {{- $name := .Name }}
    {{- with .Identifier }}
      {{- with T . }}
        {{- $name = . }}
      {{- end }}
    {{- end }}
    <li>
      <a
        {{- range $k, $v := $attrs }}
          {{- with $v }}
            {{- printf " %s=%q" $k $v | safeHTMLAttr }}
          {{- end }}
        {{- end -}}>
        {{ $name }}
      </a>
      {{- with .Children }}
        <ul>
          {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
        </ul>
      {{- end }}
    </li>
  {{- end }}
{{- end }}
