{{- $page := . }}

{{- if gt $page.Paginator.TotalPages 1 }}
  <div class="flex items-center justify-center gap-2">
    {{- partial "partials/inline/pagination" $page }}
  </div>
{{- end }}

{{- define "partials/inline/pagination" }}
  {{- $sharedClasses := "rounded bg-ctp-surface0 px-3 md:hover:bg-ctp-surface1" }}

  {{- with .Paginator }}
    {{- $currentPageNumber := .PageNumber }}

    {{- with .Prev }}
      <a
        href="{{ .URL }}"
        aria-label="Previous"
        class="{{ $sharedClasses }} py-1"
        role="button"
        ><span aria-hidden="true">{{ partial "svg/arrow-left" }}</span></a
      >
    {{- end }}


    <a class="{{ $sharedClasses }} py-2 text-lg font-semibold" href="/explore/"
      >Browse Index</a
    >

    {{- with .Next }}
      <a
        href="{{ .URL }}"
        aria-label="Next"
        class="{{ $sharedClasses }} py-1"
        role="button"
        ><span aria-hidden="true">{{ partial "svg/arrow-right" }}</span></a
      >
    {{- end }}

  {{- end }}
{{- end -}}
