<div
  id="searchModal"
  class="fixed left-0 top-0 z-[1] hidden h-full w-full bg-ctp-overlay0/10 px-[35vw] py-[12vh] backdrop-blur-sm">
  <div
    class="relative h-full w-full rounded-lg border border-ctp-lavender bg-ctp-surface0">
    <svg
      class="absolute left-4 top-4 h-5 w-5"
      data-slot="icon"
      fill="none"
      stroke-width="1.5"
      stroke="currentColor"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"></path>
    </svg>
    <button
      class="absolute right-4 top-3 rounded-lg bg-ctp-surface1 px-2 py-1 font-mono text-xs tracking-tight">
      ESC
    </button>
    <div id="search"></div>
  </div>
</div>
