{{- /*
For a given taxonomy, renders a list of terms assigned to the page.

@context {page} page The current page.
@context {string} taxonomy The taxonony.

@example: {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
*/}}

{{- $page := .page }}
{{- $taxonomy := .taxonomy }}

{{- with $page.GetTerms $taxonomy }}
  {{- $label := (index . 0).Parent.LinkTitle }}
  <div class="flex gap-3">
    <div>{{ $label }}:</div>
    <ul class="not-prose flex gap-3">
      {{- range . }}
        <li>
          <a
            class="rounded bg-ctp-mauve px-3 py-1 text-sm text-ctp-crust"
            href="{{ .RelPermalink }}"
            >{{ .LinkTitle }}</a
          >
        </li>
      {{- end }}
    </ul>
  </div>
{{- end }}
